/*--------------------------------------------------------------
# Metaslider
--------------------------------------------------------------*/

/**
 * The following styles will provide an attempt to normalize the sliders
 */

/* Reset some style. Using body to push specificity */
body .metaslider .coin-slider,
body .metaslider .nivoSlider,
body .metaslider .nivoSlider img,
body .metaslider .rslides,
body .metaslider .rslides li,
body .metaslider .flexslider ul.slides,
body .metaslider .flexslider .slides li,
body .metaslider .flexslider .slides ul,
body .metaslider .flexslider .slides ol,
body .metaslider .flexslider .slides img,
body .metaslider .flexslider .flex-direction-nav,
body .metaslider .flexslider .flex-direction-nav li {
    border: 0;
    margin: 0;
    list-style-type: none;
    list-style: none;
    padding: 0;
    line-height: normal;
    max-width: none;
    max-height: none;
}

.metaslider {
    position: relative;
    z-index: 0;
}

.metaslider .caption {
    padding: 30px 10px 10px;
    word-wrap: break-word;
	text-align: center;
    width: 320px;
    max-width: 520px;
    margin: 0 auto;
}

.metaslider .caption .center {
	margin-top: calc( 40% - 100px );
}

.metaslider .caption .light  {
	text-shadow: 0px 1px 4px rgba(0,0,0,.5);
}

.metaslider .caption .dark {
	color: #333;
}

.metaslider .caption-wrap {
    position: absolute;
    top: 0;
    left: 50%;
	transform: translate(-50%, -0%);
    color: #fff;
    opacity: 1;
    margin: 0;
	padding: 0;
    display: block;
    width: auto;
    line-height: 1.4em;
}

.metaslider h1 {
	font-size: 26px;
    line-height: 1.5em;
    margin: 0 0 10px 0;
	font-weight: 700;
}

.metaslider img {
    height: auto;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
}

.metaslider a {
    outline: none;
}

.metaslider.ms-left {
    float: left;
    margin: 0 20px 20px 0;
}

.metaslider.ms-right {
    float: right;
    margin: 0 0 20px 20px;
}

.metaslider li:before,
.metaslider li:after {
    content: "" !important;
    display: none !important;
    bottom: auto !important;
    margin: 0 !important;
}

.metaslider .caption-wrap .caption img {
    width: auto;
}

.metaslider .slides img {
	width: 100%;
	display: block;
}

/* Flexslider */

.metaslider .flexslider {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    border: 0;
    margin: 0 0 60px;
    max-width: none;
    max-height: none;
}

.metaslider .flex-control-nav {
    border: 0;
    margin: auto;
    list-style-type: none;
    list-style: none;
    padding: 20px 0;
	bottom: 0;
    line-height: 11px;
    z-index: 2;
}

/** move margin from list items to anchors */
.metaslider .flex-control-nav li {
	margin: 0;
}

.metaslider .flex-control-nav li a {
	margin: 0 4px;
	padding: 0;
}

.metaslider .flexslider .slides li {
    position: relative;
    height: auto;
}

/** fix for users with RTL languages */
.metaslider .flex-viewport {
    direction: ltr;
}

/** add transition effects to firefox **/
.metaslider .flex-direction-nav a {
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.metaslider .flexslider .slides p {
    margin: 0;
}

.metaslider .flexslider.filmstrip {
	margin-top: 10px;
}

.metaslider .flexslider.filmstrip .slides li {
    cursor: pointer;
    opacity: 0.5;
}

.metaslider .flexslider.filmstrip .slides li.flex-active-slide,
.metaslider .flexslider.filmstrip .slides li:hover,
.metaslider .flexslider.filmstrip .slides li:focus {
    opacity: 1.0 !important;
}

.metaslider .flex-control-thumbs li {
    width: auto;
}

.metaslider ol.flex-control-thumbs img,
#content .metaslider ol.flex-control-thumbs img {
    margin: 10px 5px 0;
    width: auto;
}

.metaslider.nav-hidden .flexslider {
    margin-bottom: 0;
}

.metaslider.nav-hidden.add-margin .flexslider {
    margin-bottom: 40px;
}

/* Arrow styles to use background images (old style) */
/* which makes it compatible with the theme builder */

.metaslider .flexslider .flex-direction-nav li a:before {
    content:none!important;
}
.metaslider .flexslider .flex-direction-nav li a {
    width: 40px;
    height: 40px;
    border: 0;
    margin: -20px 0 0;
    box-shadow: none!important;
    display: block;
    background-color: rgba(0,0,0,.5);
	border-radius: 3px;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
       -moz-transition: opacity .25s ease-in-out;
            transition: all .3s ease;
}
.metaslider .flex-direction-nav .flex-next {
    background-position: left 0;
	background-image: url(media/metaslider/metaslider-md-nav-right.svg);
}
.metaslider .flex-direction-nav .flex-next {
    background-position: right 0;
    text-align: left;
    /* Fix for single character text */
    text-indent: 9999px;
}
.metaslider .flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}
.metaslider .flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
	background-image: url(media/metaslider/metaslider-md-nav-left.svg);

    /* Fix for single character text */
    text-indent: -9999px;
}
.metaslider .flexslider:hover .flex-next:hover,
.metaslider .flexslider:hover .flex-prev:hover {
    opacity: 1;
}
.metaslider .flexslider .flex-direction-nav .flex-disabled {
    cursor: default;
    pointer-events: none;
}
.metaslider .flexslider .flex-control-nav a {
    box-shadow: none !important;
}
.metaslider .flexslider .flex-control-nav a:before {
	content: "";
	margin-top: 10px;
	margin-bottom: 10px;
}
.metaslider .flexslider .slides > li {
    position: relative;
}

/* Responsive Slides */
@media screen and (max-width: 520px) {
	.metaslider .flex-control-nav {
		bottom: -40px;
	}
	.metaslider .caption {
		padding: 10px 10px 10px;
	}
	.metaslider .caption .dark {
		color: #fff;
	}
    .metaslider h1 {
        font-size: 22px;
        line-height: 1.2em;
    }
	.metaslider .slides {
		background: #000;
	}
	.metaslider img {
		opacity: .5;
	}
}

.metaslider .rslides_nav,
.metaslider .rslides_tabs a {
    box-shadow: none !important;
}
.metaslider .rslides_tabs {
    margin: 0 0 40px;
}

.metaslider .rslides_nav:focus,
.metaslider .rslides_nav:hover {
    color: #ffffff;
} 

/* Nivo Slider */
.metaslider .theme-default .nivoSlider {
   -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
           box-shadow: 0 0 0;
}

.metaslider .slider-wrapper .nivo-directionNav a,
.metaslider .slider-wrapper .nivo-controlNav a,
.metaslider .slider-wrapper img {
    border: 0;
    box-shadow: none;
    margin: 0;
    list-style-type: none;
    list-style: none;
    padding: 0;
    line-height: normal;
    max-width: none;
    max-height: none;
}
.metaslider .slider-wrapper .nivo-controlNav a {
    transition: none;
}

/* Coin Slider */
.metaslider .coin-slider {

    /* This keeps the slider from spilling out the container */
    max-width: 100%;
    overflow:hidden;
}
.metaslider .coin-slider .cs-buttons a,
.metaslider .coin-slider > a {
    box-shadow: none !important;
}

/* Flexslider */
/* =====================
 * RESETS
 * =====================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* =====================
 * BASE STYLES
* =====================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* =====================
 * DEFAULT THEME
* =====================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f102';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 30px;
  height: 4px;
  display: block;
  background: #fff;
  background: rgba(0, 0, 0, .5);
  cursor: pointer;
  text-indent: -9999px;
}
.flex-control-paging li a:hover {
  background: #fff;
  background: rgba(0, 0, 0, .6);
}
.flex-control-paging li a.flex-active {
  background: #4594e1;
  background: rgba(69, 148, 255, 1);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* =====================
 * RESPONSIVE
 * =====================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/*--------------------------------------------------------------
# RPWE
--------------------------------------------------------------*/
.rpwe-block ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
.rpwe-block li {
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
	padding-bottom: 10px;
	list-style-type: none;
}
.rpwe-block h3 a {
	color: #31363b;
}
.rpwe-block a {
	display: inline;
	text-decoration: none;
}
.rpwe-block h3 {
	background: none;
	clear: none;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5em;
}
.rpwe-thumb {
	border: 1px solid #EEE;
	box-shadow: none;
	margin: 2px 10px 2px 0;
	padding: 3px;
}
.rpwe-summary {
	font-size: 14px;
}
.rpwe-time {
	color: #858687;
	font-size: 14px;
}
.rpwe-comment {
	color: #bbb;
	font-size: 12px;
	padding-left: 5px;
}
.rpwe-alignleft {
	display: inline;
	float: left;
}
.rpwe-alignright {
	display: inline;
	float: right;
}
.rpwe-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.rpwe-clearfix:before,
.rpwe-clearfix:after {
	content: "";
	display: table;
}
.rpwe-clearfix:after {
	clear: both;
}
.rpwe-clearfix {
	zoom: 1;
}

.rpwe-default-thumb {
    width: 98px;
    height: auto;
}

/*--------------------------------------------------------------
# RSS Aggregator
--------------------------------------------------------------*/
.rss-aggregator {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type: square;
	color: #737a82;
}
.rss-aggregator li {
	margin-bottom: .6em;
}

.feed-item a {
	font-weight: 700;
	text-decoration: none;
}
.feed-date {
	color: #31363b;
}
.rss-aggregator div.wprss-feed-meta > span {
	font-size: 12px;
}
.nav-links {
	margin-bottom: 0 !important;
}

/*--------------------------------------------------------------
# LCP - List category post
--------------------------------------------------------------*/
.lcp_catlist li a {
    font-weight: 700;
}
.lcp_catlist span {
    display: block;
    color: #737a82;
}